body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455
}

a {
    text-decoration: none;
}

img {
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 188px 0 188px;
}

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;

}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}

.header-logo-color {
    color: #2e2f42;
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu-item:hover {
    color: #404bbf
}

.header-menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf
}

.current {
    position: relative;
    color: #404bbf;
}

.header-menu-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 48px;
    border-radius: 2px;
    height: 4px;
    background-color: #404bbf;
    transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-menu {
    display: flex;
    gap: 40px;
}

.address-item-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.address-item-link:hover,
.address-item-link:focus {
    color: #404bbf;
}

.hero {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    background-color: #2e2f42;
    margin: 0 auto;
    background-size: cover;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    background-color: transparent;
    width: 496px;
    margin: 0 auto;
    max-width: 496px;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background: #4d5ae5;
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    border: none;
    margin-top: 48px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
    background-color: #404bbf;
}

/* Info */
.info-icon {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.information {
    padding-top: 120px;
    padding-bottom: 120px;
}

.info-list {
    display: flex;
    gap: 24px;
    margin: 0;
}

.info-list-item {
    width: calc((100% - 3 * 24px) / 4);
}

.info-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.info-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Team */

.team {
    background: #f4f4fd;
    padding: 120px 0;
}

.img-member,
portfolio-item-img {
    display: block;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    border-radius: 0px 0px 4px 4px;

}

.member-info {
    padding: 32px 0;
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;

}

.team-member-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.icon-list {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
}

.icon-list-item {
    width: 40px;
    height: 40px;
}

.icon-icon {
    fill: #f4f4fd;
}

.icon-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}

/* Portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.portfolio-list-item:hover .portfolio-item-cover-text {
    transform: translateY(0);
}

.portfolio-item-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-item-cover-text {
    position: absolute;
    top: 0;
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 300px;
    padding-bottom: 164px;
    transform: translateY(100%);
    transition: transform 250ms linear;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-dscr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-parag {
    margin-right: 120px;
}

.footer-link {
    font-weight: 700;
    font-size: 18px;
    font-family: Raleway;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.socials-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-container-social-media-links {
    width: 208px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 16px;
}

.footer-icon-list-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-bottom {
    margin-left: 80px;
    min-width: 453px;
    height: 80px;

}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 8px 16px;
}

.form-title {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    font-weight: 500;
}


.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    cursor: pointer;
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #404bbf;
}

.btn-icon {
    margin-left: 16px;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}

.close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #e7e9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.close-btn:hover,
.close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-btn:hover>.close-btn-icon,
.close-btn:focus>.close-btn-icon {
    fill: #fff;
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.17;
    background-color: transparent;
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus+.modal-field-icon {
    fill: #4d5ae5;
}

.modal-field {
    margin: 24px;
    margin-bottom: 16px;
    margin-bottom: 24px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-field-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;

}

.modal-check {
    margin-bottom: 24px;
}

.modal-text:focus {
    border-color: #4d5ae5;
}

.check-text {
    color: #8e8f99;
    display: flex;
    align-items: center;
    margin: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    white-space: nowrap;
}

.check-text-icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    display: inline-flex;
}

.modal-check:checked+.check-text>.check-text-icon {
    background-color: #4d5ae5;
    fill: #404bbf;
    border: 1px solid #404bbf;
}

.policy-link {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    padding-left: 2px;
}

.modal-btn {
    display: block;
    border-radius: 4px;
    min-width: 169px;
    margin: 24px 120px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
}