body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

.header-logo,
.header-logo-color {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-menu-item:hover {
    color: #404bbf;
}

.header-menu-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-item-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-item-link:hover,
.address-item-link:focus,
.address-item-link:active {
    color: #404bbf;
}

.main {
    background-color: #2e2f42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    background: #4d5ae5
}

.hero-btn:active,
.hero-btn:focus,
.hero-btn:hover {
    background-color: #404bbf;
}

.information,
.team {
    max-width: 1128px;
    margin: auto;
}

.info-item-title,
.team-title,
.portfolio-title,
.team-member-name,
.portfolio-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.info-item-text,
.team-member-job,
.portfolio-dscr,
.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-list-item,
.footer {
    background-color: #FFFFFF;
}

.img-member,
.portfolio-item-img {
    width: 264px;
    height: 260px;
}

.footer {
    background-color: #2e2f42;
}

.footer-link,
.footer-logo-color {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}